.container.default-layout {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70px auto 70px;
  min-height: 100vh;

  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0px -8px;
    padding: 8px;

    &.column {
      flex-flow: column nowrap;
    }
  }
}