@use './vue-related-styles/vuetify_overwrite' as *;
@use './vue-related-styles/transitions' as *;
@use './wishlist' as *;

html {
    font-family: 'Quicksand', sans-serif;

    body {
        background-color: #f2fbf2;
    }
}

.form-holder {
  background-color: #f8fffd;
  border-radius: 20px;
  padding: 40px;
  box-shadow:
    rgba(36, 38, 39, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  min-height: 350px;

  h1 {
    text-align: center;
    margin: 0 0 20px 0;

    + p {
      font-size: 14px;
      margin: 0 0 10px 0;
    }
  }  
  @media screen and (max-width: 450px) {
    padding: 40px 20px;
  }
}
form {
  .input-holder {
    margin: 0 0 5px;

    &.row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      > * {
        margin-right: 10px;
      }
      button {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 500px) {
        flex-flow: column nowrap;

        > * {
          width: 100%;
        }
      }
    }
  }
  .form-error-holder {
    color: #d12323;
    font-size: 13px;
    margin:  15px 0 0 0;
  }
  .button-holder {
    margin: 15px 0 0 0;
  }
  + form {
    margin-top: 10px;
  }
  .field-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    margin: 0 0 10px 0;
  }
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

main {
  > .content-holder {
    > .spinner-holder {
      width: 100%;
      min-height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}