@use './_variables' as *;

.wishlist-description {
  font-size: 13px;
  color: $text_color;
  margin: 0 0 25px 0;
}
.wishlists-holder, .wish-holder {
  display: block;
  column-count: 3;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  .wishlist-item, .wish-item {
    max-width: 100%;
    margin: 0 0 15px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    transition: all 0.2s ease-in-out;
    background: white;
    position: relative;

    &.add-new {
      height: 150px;
      cursor: pointer;

      h5 {
        color: $text_color_light;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        width: 100%;
      }
    }
    .remove-button,
      .edit-button {
        position: absolute;
        top: 18px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        --v-btn-height: 30px;
        z-index: 1;
        cursor: pointer;

        .v-icon {
          --v-icon-size-multiplier: 0.8;
        }
      }
    .remove-button {
      right: 18px;
    }
    .edit-button {
      right: 54px;
    }
    .v-carousel,
    > img {
      margin: 0 0 8px;
    }
    .v-carousel {
      &__controls {
        .v-btn {
          width: 25px;
          height: 25px;

          .v-icon {
            --v-icon-size-multiplier: 0.5;
          }
        }
      }
    }
    img {
      max-width: 100%;
      background-color: #e1e1e1;
      border-radius: 8px;
    }
    .info {
      width: 100%;

      h5 {
        color: $text_color_light;
        font-weight: 500;
        font-size: 12px;
        text-align: left;
        width: 100%;
        margin: 5px 0 0 0;
        word-break: break-word;
        cursor: pointer;
      }
      .chip {
        font-size: 11px;
        text-align: center;
        padding: 3px 8px;
        color: $text_color_light;
        background-color: #e4f6f1;
        border-radius: 10px;
      }
    }
    &:hover {
      box-shadow: 0 5px 12px rgba(72, 78, 85, 0.4);
      transform: translateY(-5px);

      .remove-button,
      .edit-button {
        opacity: 1;
      }
    }
  }
}
.wishlist-dialog {
  > .v-card {
    padding: 25px;

    h3 {
      margin: 0 0 15px 0;
    }
    .form-box {
      .button-holder {
        button {
          margin: 0 15px 0 0;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .wishlists-holder, .wish-holder {
    column-count: 2;
    gap: 10px;

    .wishlist-item, .wish-item {
      padding: 7px;
      max-width: 260px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .wishlists-holder, .wish-holder {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}