body {
  .v-text-field__prefix, .v-text-field__suffix {
    opacity: 1;
  }
  .v-input.v-text-field {
    min-height: 70px;

    .v-input__control{
      max-height: 48px;
    }
    &.v-textarea {
      margin: 0 0 15px 0;

      .v-input__control{
        max-height: none;
      }
    }
    .v-input__append {
      padding-top: 15px;
    }
  }
}